@tailwind base;
@tailwind components;
@tailwind utilities;

/* light mode */
#app {
	--color-background: 230 236 254;
	--color-paper: 208 219 253;
	--color-text-primary: 0 4 15;
	--color-text-secondary: 10 22 56;

	--color-primary: 247 104 9;
	--color-secondary: 106 27 209;
}

/* dark mode */
#app.dark {
	--color-background: 1 0 38;
	--color-paper: 6 3 61;
	--color-text-primary: 255 255 255;
	--color-text-secondary: 217 217 242;

	--color-primary: 247 104 9;
	--color-secondary: 106 27 209;
}

#app {
	@apply bg-background text-skin-primary;
}

* {
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

a {
	@apply text-primary;
}

a:hover {
	@apply underline;
}
